<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background: linear-gradient(to right, #b92b27, #1565c0) /* Change background color */
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      background: linear-gradient(to right, #b92b27, #1565c0);
      color: white; /* Text color */
      padding: 10px; /* Add padding for better appearance */
    }
  </style>

  <title>About Us</title>
</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert' style="margin-bottom:0px;">Welcome to Brain Hunt!</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    
    <p class="lead" style="color: white;">Brain Hunt is a platform designed to empower students by providing them with practice questions for various subjects and exams. <br> Teachers can contribute by adding courses and questions to the system, creating a rich learning environment for students.</p>

    <p style="color: white;">Explore our website to unlock your full potential.</p>
    <p class="lead" style="color: white;">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
    <br><br><br><br><br><br><br>
  </div>

  {% include "quiz/footer.html" %}
</body>

</html>

